.row {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  .auth {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    &__form {
      position: absolute;
      background: $bgform;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -45%);
      width: 500px;
      border-radius: 5px;
      box-shadow: $shadow;
      padding: 10px 30px;
      &-avatar {
        top: -75px;
        left: calc(100% / 2 - 75px);
        position: absolute;
        background: $bgform;
      }
      &-header {
        margin-top: 80px;
        text-align: center;
        font-size: $font_lg;
        font-weight: 800;
        text-transform: uppercase;
      }
      &-input {
        margin: 0;
      }
      &-btn {
        margin: 15px 0;
      }
      &-link {
        padding-bottom: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          padding: 0;
          font-size: $font_sm;
          &:hover {
            color: $primary;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// pc
@media (max-width: 1024px) {
}

// tablet
@media screen and (min-width: 740px) and (max-width: 1023px) {
}

// mobile
@media screen and (max-width: 740px) {
  .row {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    .auth {
      position: relative;
      margin: 0 auto;
      height: inherit;
      &__form {
        position: absolute;
        background: $bgform;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        max-width: 100%;
        border-radius: 5px;
        box-shadow: $shadow;
        padding: 10px 30px;
        &-avatar {
          display: none;
        }
        &-header {
          margin-top: 40px;
          text-align: center;
          font-size: $font_lg;
          font-weight: 800;
          text-transform: uppercase;
        }
        &-input {
          margin: 0;
        }
        &-btn {
          margin: 15px 0;
        }
        &-link {
          padding-bottom: 20px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          span {
            padding: 0;
            font-size: $font_sm;
            &:hover {
              color: $primary;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
