.post {
  position: relative;
  width: 95%;
  margin: 10px auto 0 auto;
  border-radius: 10px;
  background: white;
  border: 1px solid #eceff1;
  &-info {
    &__name {
      font-weight: 500;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        font-weight: 600;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }
    }
    &__time {
      font-weight: 400;
    }
  }
  &-cap {
    padding: 0 16px;
    margin-bottom: 8px;
    p {
      font-size: $font_sm;
      text-indent: 10px;
      margin: 0;
    }
    span {
      display: inline;
      font-size: $font_sm;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
    .see_more {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 21px;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      &_hand {
        cursor: pointer;
        &:hover {
          color: #03a9f4;
        }
      }
    }
  }
  &-media {
    background: #eceff1;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    .layout {
      position: relative;
      width: 100%;
      max-height: 500px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-gap: 5px;
      &-item__1 {
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        &:nth-child(1) {
          grid-column: 1/5;
          grid-row: 1/5;
        }
        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        .model_video {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          background-color: rgba(#fff, 0.2);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &-item__2 {
        position: relative;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        &:nth-child(1) {
          grid-column: 1/3;
          grid-row: 1/5;
        }
        &:nth-child(2) {
          grid-column: 3/5;
          grid-row: 1/5;
        }
        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        .model_video {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          background-color: rgba(#fff, 0.2);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &-item__3 {
        position: relative;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        &:nth-child(1) {
          grid-column: 1/3;
          grid-row: 1/5;
        }
        &:nth-child(2) {
          grid-column: 3/5;
          grid-row: 1/3;
        }
        &:nth-child(3) {
          position: relative;
          grid-column: 3/5;
          grid-row: 3/5;
        }
        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        .modal {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          background-color: rgba(0, 0, 0, 0.5);
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            color: #fff;
            font-weight: 700;
          }
        }
        .model_video {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          background-color: rgba(#fff, 0.2);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  &-ext {
    display: flex;
    padding: 0 16px;
  }
  &-handle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 0;
    &__item {
      cursor: pointer;
      padding: 2px 5px;
      border-radius: 10px;
      &:hover {
        background: $secondary;
      }
    }
  }
  &-cmt {
    padding: 0 16px;
    p {
      width: 150px;
      margin: 5px 0 0 0;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
    &__list {
      max-height: 200px;
      overflow: auto;
      margin-top: 5px;
      margin-bottom: 5px;
      &::-webkit-scrollbar {
        width: 6px;
        background: #fff;
        border-radius: 30px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba($primary, 0.5);
        border-radius: 30px;
      }
    }
  }
  &-emoji {
    visibility: hidden;
    width: 10%;
    margin-left: 80%;
    height: 15px;
  }
  &-write {
    padding: 0 16px;
    margin-bottom: 0;
    input {
      margin: 0;
    }
    &__socket {
      position: relative;
      img {
        bottom: 0;
        height: 18px;
        position: absolute;
        object-fit: cover;
      }
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    &-item {
      transform: scale(0.9);
      max-width: 80%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-icon {
      cursor: pointer;
      transition: 0.2s;
      position: absolute;
      top: 50%;
      color: white;
      transform: translateY(-50%);
      &:hover {
        color: $primary;
      }
    }
    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
    }
    &-close {
      top: 20px;
      right: 10px;
    }
  }
}

@media (max-width: 320px) {
  .post {
    &-handle {
      &__item {
        span {
          display: none;
        }
      }
    }
  }
}
