$primary: #03a9f4;
$secondary: #E0E0E0;
$bg: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
$bgform: #fff;
$text_clr: #555;
$shadow: rgba(100, 100, 111, 0.75) 0px 7px 29px 0px;
$shadow_1: rgba(100, 100, 111, 0.75) 4px 7px 12px 0px;
$font_lg: 28px;
$font_md: 20px;
$font_sm: 14px;
